body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input{
  margin-left: .5rem;
  margin-top: 1rem;
box-shadow: 3px 3px 5px grey;
font-size: 14px;
  width: 97%;
  border-radius: .5rem;
  height: 2.5rem;
}

.buttonContainer{
  position: relative;
  left: 5%;
}

.inputLabelLink{
  display: flex;
  justify-content: space-between;
}

.inputLabel{
  margin-left: 1rem;
}
